<% provide(:title, 'Create Portfolio') %>
<div class="form row">
  <h1>Your Portfolio</h1>
  <div class="col-md-10 col-md-offset-1">
    <%= form_for(@portfolio) do |f| %>
      <span class="row form-inline">
        <%= render 'shared/error_messages', object: f.object %>
      </span>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Portfolio's name" %>
      <%= f.text_area :description, class: 'form-control', placeholder: "Description" %>
      <%= f.collection_select(:speciality_id, Speciality.all, :id, :name) %>
      <%= f.submit 'create', class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
