<%= form_for(current_user, remote: true) do |f| %>

  <%= profile_picture_for current_user %>
  <%= link_to "Change Profile Picture", new_profile_picture_path %>
  <%= link_to "Change Background", '#' %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control' %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control' %>

  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :location %>
  <%= f.text_field :location, class: 'form-control' %>

  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <%= link_to "Client", '#' %>
    </li>
    <li role="presentation">
      <%= link_to "Worker", '#' %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="well">
      <% current_user.specialities.each do |x| %>
        <p>
          <%= x.name %>
        </p>
      <% end %>
      <%= f.fields_for(:specialities, method: 'post') do |g| %>
        <%= select_tag(:speciality_id, options_for_select(Speciality.all.map { |u| [u.name, u.id] } )) %>
        <%= g.submit 'speciality', class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>

  <%= f.label :biography, "Bio" %>
  <%= f.text_area :biography, class: 'form-control' %>

  <%= f.submit 'update', class: "btn btn-primary" %>
<% end %>
