<% provide(:title, @user.name) %>
<div class="row">
  <section class="user_info">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </section>
  <%= @user.location %>
  <section class="stats">
    <%= render 'shared/stats' %>
  </selection>
  <div>
    <div>
      <%= @user.biography %>
    </div>
    <%= render 'follow_form' if logged_in? %>
    <div>
    <%= link_to 'Message me!', message_users_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post' %>
      <h1>Portfolio</h1>
          <% @portfolios.each do |portfolio| %>
            <div>
              <% unless portfolio.pictures.first.nil? %>
                <%= link_to (image_tag portfolio.pictures.first.picture), portfolio_picture_path(portfolio, portfolio.pictures.first) %>
                <%= link_to portfolio.name, portfolio_picture_path(portfolio, portfolio.pictures.first) %>
              <% else %>
                <%= l.name %>
              <% end %>
              <div class="col-md-2 text-right">
                <% seen_counter = @portfolio_view_likes.where(portfolio_id: portfolio.id).count %>
                <% unless seen_counter.nil? || seen_counter == 0 %>
                  <%= seen_counter %>
                  <%=image_tag("icon_view.png", size: 15, alt: "Seen Counter")%>
                <% end %>

                <% comment_counter = @portfolio_comments.where(portfolio_id: portfolio.id).count %>
                <% unless comment_counter.nil? || comment_counter == 0 %>
                  <%= comment_counter %>
                  <%=image_tag("icon_comment.png", size: 15, alt: "Comment Counter")%>
                <% end %>
              </div>

            </div>
          <% end %>
    </div>
  </div>
</div>
