<% provide(:title, @user.name) %>
<div class="row">
  <section class="user_info">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
  </selection>
  <div>
    <div>
      <%= @user.biography %>
    </div>
    <div>
      <h1>Portfolio</h1>
          <% @portfolios.each do |l| %>
            <div>
              <% if l.pictures.present? %>
                <%= link_to l.name, portfolio_picture_path(l) %>
              <% else %>
                <%= l.name %>
              <% end %>
            </div>
          <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
  </div>
</div>
