<% if @paidportfolios.any? %>
  <ol>
    <% @portfolios.each do |portfolio| %>
      <li>
        <div class="thumbnail">
          <% unless portfolio.pictures.first.nil? %>
            <%= link_to (image_tag portfolio.pictures.first.picture), portfolio_picture_path(portfolio, portfolio.pictures.first) %>
          <% end %>

          <div class="icons">
            <% seen_counter = @portfolio_view_likes.where(portfolio_id: portfolio.id).count %>
            <% unless seen_counter.nil? || seen_counter == 0 %>
              <%= seen_counter %>
              <%=image_tag("icon_view.png", size: 15, alt: "Seen Counter")%>
            <% end %>

            <% comment_counter = @portfolio_comments.where(portfolio_id: portfolio.id, deleted: false).count %>
            <% unless comment_counter.nil? || comment_counter == 0 %>
              <%= comment_counter %>
              <%=image_tag("icon_comment.png", size: 15, alt: "Comment Counter")%>
            <% end %>
          </div>
        </div>
        <div class="user">
          By <%= link_to User.where(id: portfolio.user_id).take.name, user_path(portfolio.user_id) %>
        </div>
        <div class="add_picture">
          <% if logged_in? %>
            <% if portfolio.user_id == current_user.id %>
              <%= link_to "add picture", new_portfolio_picture_path(portfolio) %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
<% end %>
