<li class="hover-list">
  <div class="col-md-1">
    <%= image_tag job_post.logo, :size => '75x75' %>
  </div>
  <div class="col-sm-11" id="to-the-right">
    <div>
      <%= link_to job_post.job_title, job_post %>
    </div>
    <div>
      <%= link_to @user.username, user_path(@user) %>
    </div>
    <div>
      <%= Location.where(id: job_post.location_id).take&.name %>
    </div>
    <div class="row">
      <div class="col-sm-10">
          <%= number_to_currency(job_post.rates, :unit => "Rp") %>
      </div>
      <div class="col-md-2 text-right">
        <% seen_counter = @job_post_views.where(job_post_id: job_post.id).count %>
        <% unless seen_counter.nil? || seen_counter == 0 %>
          <%= seen_counter %>
          <%=image_tag("icon_view.png", size: 15, alt: "Seen Counter")%>
        <% end %>

        <% comment_counter = @job_post_comments.where(job_post_id: job_post.id).count %>
        <% unless comment_counter.nil? || comment_counter == 0 %>
          <%= comment_counter %>
          <%=image_tag("icon_comment.png", size: 15, alt: "Comment Counter")%>
        <% end %>
      </div>
    </div>
  </div>
</li>
