<% provide(:title, 'Job Board') %>
<h1>Job Board</h1>
<div id="bg-greyish-white" class="job-board">
    <%= form_tag(job_posts_path, :method => "get", class: "search-bar form-inline") do %>
    <div class="row">
        <div class="col-md-10">
            <%= text_field_tag :search, params[:search], placeholder: "Enter a Company Name, Job, or Keyword", class: "form-group" %>
        </div>
        <div class="col-md-2">
          <%= image_submit_tag("icon_search.png", class: "search-img") %>
        </div>
        <% end %>
      </div>
        <ul>
            <%= render @job_posts %>
        </ul>

        <%= will_paginate %>
    </div>
