<% provide(:title, @job_post.job_title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="logo">
      <h1>
        <%= image_tag @job_post.logo, :size => '150x150' %>
      </h1>
    </section>
    <div>
      <h2>
        <%= @job_post.company_name %>
      </h2>
      <p>
        <%= @job_post.company_description %>
      </p>
    </div>
  </aside>
  <div class="col-md-6">
    <span>
      <div>
        <%= @job_post.job_title %>
      </div>
      <div>
        <div>
          <%= Location.where(id: @job_post.location_id).take.name %>
        </div>
        <div>
          <%= @job_post.created_at %>
        </div>
      </div>
    </span>
    <span>
      Job Description
    </span>
    <span>
      <%= @job_post.job_description %>
    </span>
  </div>
  <div class="col-md-4">
    <div>
      Button
    </div>
    <div>
      Share
    </div>
    <div>
      Button share
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <%= render 'shared/job_post_comment_form' %>
      <% @job_post_comments.each do |comment| %>
        <div>
          <%= User.where(id: comment.user_id).take.name %>
          <%= comment.comment %>
          <%= comment.created_at %>
        </div>
      <% end %>
    </div>
  </div>
</div>
