<% provide(:title, @job_post.job_title) %>
<div class="job-board-show row" id="bg-white">
  <div class="col-md-3 section border">
    <div class="logo">
      <%= image_tag @job_post.logo, :size => '150x150' %>
    </div>
    <h4>
      <%= @job_post.company_name %>
    </h4>
    <p>
      <%= @job_post.company_description %>
    </p>
    <div>
      <% @specialities.each do |s| %>
        <%= Speciality.where(id: s.speciality_id).take.name %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 section border">
    <div>
      <div>
        <h3>
          <%= @job_post.job_title %>
        </h3>
      </div>
      <div class="row">
        <div class="col-md-4">
          Location : <%= Location.where(id: @job_post.location_id).take.name %>
        </div>
        <div class="col-md-6">
          Posted : <%= @job_post.created_at.strftime("%b %e") %>
        </div>
      </div>
    </div>
    <div id="bg-greyish-white" class="job-description">
        Job Description
    </div>
    <div>
      <p>
        <%= @job_post.job_description %>
      </p>
    </div>
    <div class="comment-section">
      <%= render 'job_post_comments/form' %>
    <div>
      <%= render @job_post_comments %>
    </div>
  </div>
  </div>
  <div class="col-md-3 section">
    <div class="button">
      <% if current_user.applying?(@job_post) %>
        <%= render 'cancel' %>
      <% else %>
        <%= render 'apply' %>
      <% end %>
    </div>
    <div id="bg-greyish-white">
      Share
    </div>
    <div>
      Button
    </div>
  </div>
</div>
