<%= profile_picture_for @user %>
<%= @portfolio.name %>
<%= @picture.title %>
<%= @user.paidusername %>
<%= image_tag @picture.picture %>

image <%= @picture.id %> of <%= @pictures.count %>
<% if @next %>
  <%= link_to "Next", [@portfolio, @next] %>
<% end %>
<% if @prev %>
  <%= link_to "Previous", [@portfolio, @prev] %>
<% end %>
<%= @picture.title %>
by <%= link_to @user.paidusername, user_path(@user) %>
<%= @picture.description %>

published <%= @picture.created_at %>

<%= link_to 'like', like_portfolio_view_like_path, class: 'vote', method: :put %>
<div class="comment-section">
  <%= render 'portfolio_comments/form' %>
<div>
  <%= render @portfolio_comments %>
</div>
